/* body */

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    font-family: sans-serif;
}

/* Navbar */

.navbar {
    background: linear-gradient(to right, #8F003C, #FF78B1);
    padding: 20px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li {
    display: inline-block;
    margin-right: 35px;
}

.menu li a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

.search_form_nav {
    position: relative;
}

.search input[type="text"] {
    border-radius: 50px;
    border: none;
    padding: 10px 40px 10px 20px;
    margin-right: 7px;
    outline: none;
    font-size: 16px;
    width: 200px;
    text-align: left;
}

.btn_search_img_nav {
    background-color: #880039;
    border: none;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 35px;
    height: 35px;
}

.btn_search_img_nav:hover {
    background-color: #c71d64;
}

.btn_search_img_nav img {
    width: 20px;
    height: 20px;
}

.logo img {
    max-width: 150px;
    max-height: 50px;
}

/* Home */

#home{
    background: linear-gradient(to right, #89003A, #FF4F99);
    text-align: center;
    padding: 90px 20px;
}

.row_home{
    display: flex;
    flex-direction: row; /* Mengatur arah fleks ke horizontal */
    justify-content: space-between; /* Menempatkan konten ke kanan dan kiri */
    align-items: stretch; /* Menyamakan tinggi konten di dalam baris */
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 40px;
    height: 500px;
}

.home_content_left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1.2;
}

.home_content_right{
    flex: 1.8; /* Menggunakan flex-grow untuk proporsi 2 */
    display: flex;
    align-items: center; /* Meletakkan konten secara vertikal di tengah */
    justify-content: center;
}

.home_content_right img {
    max-width: 75%; /* Mengatur lebar maksimum gambar agar tidak melebihi lebar konten */
    max-height: 75%; /* Mengatur tinggi maksimum gambar agar tidak terlalu besar */
    height: auto; /* Mengatur ketinggian gambar agar mengikuti perubahan proporsi lebar */
    margin-right: 60px;
}

.home_content_left h1{
    color: #FFFCBF;
    font-size: 60px;
    text-align: left; /* Rata kiri untuk judul */
    margin-bottom: 10px;
    margin-top: 80px;
}

.home_content_left p{
    color: #FFFCBF;
    font-size: 30px;
    text-align: left;
    margin-top: 10px;
}

.btn_home {
    background-color: #45001a;
    color: #FFFCBF;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}
.btn_home:hover {
    background-color: #7b1d41;
}

/* Discount */

#discount{
    text-align: center;
    padding: 90px 20px;
    background-color: blue;
}

/* Produk */

#product{
    text-align: center;
    padding: 90px 20px;
    background-color: blue;
}

/* Contact */

#contact{
    background: linear-gradient(to right, #8F003C, #FF78B1);
    padding: 50px 20px;
    text-align: center;
    height: 380px;
}

.row_contact{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact_title {
    margin-bottom: 20px;
}

.contact_title h1{
    color: #FFFCBF;
    font-size: 40px;
}

.contact_content {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    flex-wrap: unset;
    margin-top: 20px;
}

.contact_content_left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 400px;
    margin-right: 100px; 
}

.contact_content_right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 400px;
    margin-left: 100px;
}

.contact_content_left > *:nth-child(1),
.contact_content_left > *:nth-child(2),
.contact_content_left > *:nth-child(3),
.contact_content_right > *:nth-child(1),
.contact_content_right > *:nth-child(2),
.contact_content_right > *:nth-child(3) {
    flex: 1;
}

.contact_content_left,
.contact_content_right {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left; 
}

.address,
.whatsapp,
.email,
.instagram,
.facebook,
.tiktok {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    word-wrap: break-word;
}

.address a,
.whatsapp a,
.instagram a,
.facebook a,
.tiktok a {
    text-decoration: none;
    color: #fff;
}

.email p{
    color: #FFFCBF;
}

.address img,
.whatsapp img,
.email img,
.instagram img,
.facebook img,
.tiktok img {
    margin-right: 10px;
    width: 30px;
    height: auto;
}

/* Scoll to Top Button */

#scrollToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #8F003C;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

#scrollToTopBtn:hover {
    background-color: #c71d64;
}

.img_scroll_to_top{
    max-width: 20px;
    max-height: 20px;
}


