body {
    background-color: rgb(171, 163, 163);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    margin: 0;
    display: flex;
    align-items: center;
    height: 100vh;
}
.login {
    width: 100px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #FD006B;
    color: white;
    margin-bottom: 20px;
    border: none;
    transition: background-color 0.3s ease;
  }
  
  .login:hover {
    background-color: #f387dd;
  }
  
  .login:active {
    background-color: #f566c5;
  }

.logo{
    padding-right: 20px;
}
.logosize{
    padding-left: 80px;
    width: auto;
    height: 300px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.content {
    width: 50%;
}

.login-form-container {
    width: 50%;
    background: #cccaca;
    width: 400px;
    height: auto;
    border-radius: 5px;
    
    flex-shrink: 0;
}

.login-form {
    text-align: center;
    margin: 40px 10px;
    
}

.form-group {
    margin: 30px 0;
}

input[type="text"], input[type="password"] {
    width: 90%;
    padding: 10px;
    border: 1px solid #898989;
    border-radius: 5px;
}

input:focus {
    border: 1px solid #333;
    outline: none; 
  }





.lupasandi{
    text-decoration: none;
    text-align: center;
    width: 184px;
    height: 20px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color:#f00;
    font-family: Inria Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    padding-top: 30px;
}

.lupasandi:hover{
    text-decoration: none;
    text-align: center;
    width: 184px;
    height: 20px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color:#C91515;
    font-family: Inria Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    padding-top: 30px;
}

@media screen and (max-width: 600px){

}

@media screen and (max-width: 600px){
    .content {
        width: 100%;
        padding-bottom: 20px;
    }

    .logosize {
        width: 80%;
        height: auto;
    }
    .container {
        flex-direction: column;
    }
    .login-form-container {
        width: 90%;
    }
}